.detail-box{	
	vertical-align:bottom;
	text-align:justify;
	padding: 20px 20px;
	border-bottom:thin  #1E90FF solid;
	background-color:#F5F5F5;
	border-radius:5px;
	font-size:20px;
	margin-top:10px;
	margin-left:20px;
	margin-right:20px;
	color:#000;
}

.name{
	font-size: 22px;
	font-style:italic;
}

.t{
	font-size:40px;
	color:#1E90FF;
	font-weight:bolder; 
}